<footer class="footer">
    <div class="container">
        <div class="footer__wrap">
            
     
                <section class="form form--footer" style="float:right;">
                    <div class="form__header" >
                        <h3 class="form__title">Bize yazın..</h3>
                    </div>
                    <form action="#" class="form__wrap js-parsley js-unhide-block">
                        <div class="form__row form__row--email form-group">
                            <label for="in-email" class="sr-only form__label control-label">E-mail</label>
                            <input id="in-email" type="email" name="email" placeholder="E-mail" required data-parsley-trigger="change" class="form__in form__in--text form-control">
                        </div>
                        <div class="form__row form-group">
                            <label for="in-message" class="sr-only form__label control-label">Mesajınızı yazınız..</label>
                            <textarea id="in-message" name="message" placeholder="Mesajınızı yazınız.." required data-parsley-trigger="keyup" data-parsley-minlength="20" data-parsley-validation-threshold="10" data-parsley-minlength-message="You need to enter at least a 20 caracters long comment.." class="form__in form__in--textarea form-control"></textarea>
                        </div>
                        <div class="form__row">
                            <button type="submit" class="form__submit">Gönder</button>
                        </div>
                    </form>
                    <!-- end of block .form__wrap-->
                    <button type="button" class="form__show js-unhide">Contact form</button>
                </section>
                
            </div>
            

            <div class="clearfix" >
                </div>
        <span class="footer__copyright" style="float:right;">&copy; 2018 Sistem Analizi Ödevi</span>
           
        </div>
    </div>
</footer>